#disp,#max{
	color:red;
	font-weight:bold;
	display:inline;
}
.txt
{
font-weight:bold;
font-size:25px;
font-family:san serif;
}

label
{
font-family:Times New Roman;
font-size:16px;
}
input 
{
text-transform:uppercase;
}
.sub
{
color:red;
font-size:17px;
}
.f1
{
border: 1px solid gray;
border-radius:12px;
padding:5px;
}
h4
{
color:blue;
font-weight:bold;
}
.bldr , .ownr 
{
display:none;
}
.mysubmit:hover
{  font-weight:bold;
font-size:16px;
color:yellow;
background-color: #2eb82e;
border: 2px solid #2eb82e;
}